<style>
    .post-card {
    transition: transform 0.3s ease;
    cursor: pointer;
    }

    .post-card:hover {
    transform: scale(1.03);
    }

    .card-title span {
    text-decoration: none !important;
    }
</style>

<a href="{% url 'site:posts:details' post.slug %}" class="text-decoration-none text-dark">
    <div class="card h-100 shadow-sm post-card" style="overflow: hidden; border-radius: 10px;">
    <img src="/media/{{ post.cover_image }}" class="card-img-top" style="height: 250px; object-fit: cover;" alt="post_image">

    <div class="card-body">
        <h5 class="card-title d-flex align-items-center justify-content-between">
        <span class="flex-grow-1 text-start" style="text-decoration: none;">{{ post.title }}</span>
        {% if post.author_id == user.id %}
            <span class="badge bg-primary me-2">Your Post</span>
        {% endif %}
        </h5>
    </div>
    </div>
</a>
